<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>7DE253F4-A052-45E3-BE6C-866A84EBE615</string>
	<key>title</key>
	<string>Vintage</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
